.page{
	position: relative;
	&.loader{
		overflow: hidden;
		height: 100vh;
	}
	.up{
		width: 38px;
	    padding: 0px 0px;
	    height: 58px;
	    position: fixed;
	    z-index: 20;
	    bottom: 70px;
	    right: 30px;
	    //background: #ef173b;
	    display: none;
	    cursor: pointer;
	    border: 1px solid #ef173b;
	   @media (max-width: $movil){
	   	right: 15px;
	   	bottom: 40px;
	   }
 	    @include redondeado(4px, 4px, 4px, 4px);
	    background: url(../assets/flecha-hacia-arriba_r.svg) no-repeat top 8px center #ffffff;
	    background-size: 20px auto;
	    &:hover{
	    	
	    	background: url(../assets/flecha-hacia-arriba_b.svg) no-repeat top 8px center  $btnPrincipal;
	    	background-size: 20px auto;
	    	span{
	    		color: #ffffff;
	    	}
	    }
		span{
			font-size: 11px;
		    padding-top: 38px;
		    width: 100%;
		    color: $btnPrincipal;
		    display: inline-block;
		    text-align: center;
		}
	}
	.skeletor{
		//background-color: #ececec;
		// font-size: 	0 !important;
		// position: relative;
		// overflow: hidden;
		// h2{
		// 	opacity: 	0;
		// }
		// p{
		// 	opacity: 	0;
		// }
		// span{
		// 	opacity: 	0;
		// }
		// a{
		// 	opacity: 0;	
		// }
		// img{
		// 	opacity: 0;
		// }
		// &:before{
		// 	content:'';
		// 	background: #ececec;
		// 	position: absolute;
		// 	width: 	100%;
		// 	height: 	100%;
		// 	z-index: 	90;
		// 	top: 	0;
		// 	left: 	0;
		// 	pointer-events: none;
		// }
		&:after{
			position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 100;
		    left: 0;
		    transform: translateX(-100%);
		    background-image: linear-gradient(
		      90deg,
		      rgba(#fff, 0) 0,
		      rgba(#fff, 0.2) 20%,
		      rgba(#fff, 0.5) 60%,
		      rgba(#fff, 0)
		    );
		    animation: shimmer .8s infinite;
		    content: '';
		}
		@keyframes shimmer {
		    100% {
		      transform: translateX(100%);
		    }
		}
	}
	.page1__header{
		background: #ffffff;
		position:  sticky;
		top: 0px;
		z-index: 100;
		border-bottom: 1px solid #e9e9e9;
		box-shadow: $sombra;
		.section1{
			width: 	100%;
			&__main{
				.item__list{
					width: 100%;
					max-width: 1400px;
					margin: auto;
					padding: $x2 $x3;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					@include align-items(center);
					.item{
						width: 400px;
						@media (max-width: $tablet){
							width: 	48%;
						}
						@media (max-width: $movil){
							width: 200px
						}
						&:last-child{
							@media (max-width: $tablet){
								text-align: right;
								@media (max-width: $movil){
									width: 	auto;	
								}
							}
						}
						ul{
							width: 100%;
							text-align: right;
							li{
								display: inline-block;
								padding: $x1 $x2;
								&:hover{
									a{
										color: $btnPrincipal;
										transition: $animacion;	
										font-weight: 500;
										border-bottom: 2px solid $btnPrincipal;
									}
								}
								a{
									display: block;
									width: 100%;
									transition: $animacion;	
									//text-transform: uppercase;
									font-size: 14px;
									font-weight: 500;
									border-bottom: 2px solid transparent;
								}
								&.active{
									a{
										font-weight: 500;
										color: $btnPrincipal;
										transition: $animacion;	
										border-bottom: 2px solid $btnPrincipal;
										&:hover{
											transition: $animacion;	
											color: $btnPrincipalHover;
										}
									}
								}
								// &:last-child{
								// 	@include redondeado(4px, 4px, 4px, 4px);
								// 	background: $btnPrincipal;
								// 	a{
								// 		color: #ffffff;
								// 	}
								// }
							}

							@media (max-width: $tablet){
								display: 	none;
							}

						}
						.mobile-menu{
							display: none;
							width: 	40px;
							padding: 0 8px;
							text-align: right;
							div{
								width: 	100%;
								height: 	2px;
								background: $btnPrincipal;
								margin-bottom: 2px;
								&:nth-child(2){
									width: 50%;
								}
								&:nth-child(3){
									width: 70%;
								}
								&:last-child{
									margin-bottom: 	0;
								}
							}
							@media (max-width: $tablet){
								display: inline-block;	
							}
						}
						span{
							
							display: inline-block;
							text-align: left;

							//text-transform: uppercase;
							font-weight: 500;
							a{
								//color: $btnPrincipal;
								font-size: 16px;
							}
						}
					}
				}
			}
		}
		.section2{
			width: 100%;
			//background: #000000d4;
			z-index: 101;
			position: absolute;
			left: -150%;
			transition: 0.4s ease-out;
			top: 0;
			// transition-delay: 2s;
			height: 100vh;
			&.active{
				//background: #000000d4;
				left: 0;
				transition: 0.4s ease-out;
			}
			&__align{
				width: 100%;
				height: 100%;
			}
			&__main{
				width: 100%;
				height: 100%;
				.item__list{
					width: 100%;
					height: 100%;
					position: relative;
					.item{
						width: 60%;
						height: 100%;
						background: #ffffff;
						position: relative;

						.close{
							width: 100%;
							height: 52px;
							position: relative;
							border-bottom: 1px solid #e9e9e9;
							// -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    						//box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    						&:before{
    							content:'';
    							position: absolute;
    							width: 30px;
    							height: 30px;
    							top: 10px;
    							right: 20px;
    							background: url(../assets/cerrar_.svg)  #ffffff center center no-repeat;
								background-size: 15px auto ;
    						}

						}
						ul{
							width: 100%;
							text-align: right;
							height: calc(100% - 52px);
							li{
								display: inline-block;
								width: 100%;
								text-align: left;
								padding: $x3 $x4 $x1;
								a{
									display: inline-block;
									text-align: center;
									
									//text-transform: uppercase;
									font-size: 14px;
									font-weight: 300;
									border-bottom: 2px solid transparent;
								}
								&.active{
									a{
										font-weight: 700;
										border-bottom: 2px solid $btnPrincipal;
									}
								}
								&:last-child{
									
									a{
										color: #ffffff;
										padding: $x1 $x2 $x1 $x4;  
										@include redondeado(4px, 4px, 4px, 4px);
										background: $btnPrincipal;
										position: relative;
										&:before{
											content:'';
											position: absolute;
											top: 7px;
											left: 15px;
											width: 	20px;
											height: 	20px;
											background: url(../assets/celular.svg) no-repeat;
											background-size: 10px auto;
										}
									}
								}
							
							}


						}
						.mobile-menu{
							display: none;
							width: 	40px;
							padding: 0 8px;
							text-align: right;
							div{
								width: 	100%;
								height: 	2px;
								background: $btnPrincipal;
								margin-bottom: 2px;
								&:nth-child(2){
									width: 50%;
								}
								&:nth-child(3){
									width: 70%;
								}
								&:last-child{
									margin-bottom: 	0;
								}
							}
							@media (max-width: $tablet){
								display: inline-block;	
							}
						}
						span{
							font-size: 16px;
							display: block;
							text-align: left;
							//text-transform: uppercase;
							font-weight: 700;
						}
					}
				}
			}
		}
		.section3{
			
			width: 100%;
			background: #00000075;
			z-index: 100;
			position: absolute;
			left: 0;
			pointer-events:none;
			top: 0;
			height: 100vh;
			opacity: 0;
			transition: .4s ease-out 0.6s;
			transition-delay: .1s;
			&.active{
				
				opacity: 1;
				transition: .4s ease-out 0.6s;
				transition-delay: .2s
			}
		}
	}
	.page1__main{
		.section1{
			&__main{
				@media (max-width: $tableth){
					height: calc(100vh - 127px);
				}
				@media (max-width: $tablet){
					height: calc(100vh - 146px);
				}
				@media (max-width: $movil){
					height: auto;
				}
				.item__list{
					width: 100%;
					max-width: 1100px;
					margin: auto;
					column-count: 2;
					column-gap: $x2;
					padding: $x4 $x3 $x2;
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					@media (max-width: $movil){
						column-count: 1;
					}
					.item{
						width: 100%;
						height: 300px;
						cursor: pointer;
						@include redondeado(8px, 8px, 8px, 8px);
						margin-bottom: $x2;
						overflow: hidden;
						position: relative;
						//background: $color;
						box-shadow: $sombra;
						@media (max-width: $tableth){
							height: 275px;
						}
						@media (max-width: $tablet){
							height: 200px;
						}
						@media (max-width: $movil){
							height: 160px;
						}
						&__image{
							width: 100%;
							img{
								width: 100%;
							}
						}
						&:hover{
							.item__info{
								opacity: 1;
								transition: $animacion;	
							}
						}
						&__info{
							position: absolute;
							padding:  $x3;
							width: 	100%;
							height: 	100%;
							background: #0000009c;
							left: 	0;
							top: 	0;
							opacity: 0;
							transition: $animacion;
							@media (max-width: $tableth){
								display: 	none;
							}
							//pointer-events: none;
							p{
								font-size: 14px;
								color: $color;
								display: 	inline-block;
								width: 	100%;
								margin-bottom: $x0;
								font-weight: 300;
							}
							h3{
								font-size: 20px;
								color: $color;
								text-transform: uppercase;	
								font-weight: 500;
								margin-bottom: 	$x2;
							}	
							span{
								font-size: 12px;
								padding: $x1 $x4 $x1 $x2;
								@include redondeado(4px, 4px, 4px, 4px);
								background: $btnPrincipal;
								display: 	inline-block;
								color: $color;
								position: relative;	
								transition: $animacion;
								&:before{
									content:'';
									position: absolute;
									top: 8px;
									right: 	3px;	
									width: 	20px;
									height: 20px;
									background: red;
									background: url(../assets/proximo.svg) no-repeat;
									background-size: 70%;
								}
								&:hover{
									background: $btnPrincipalHover;
									transition: $animacion;
								}
								//text-decoration: underline;	
							}
						}
						
					}
				}
			}
		}
	}
	.page2__main{
		// @media (max-width: $tablet){
		// 	width: 	98%;
		// 	margin: 	auto;	
		// }
		.section1{
			&__main{
				background: #f9f9f9;
				.item__btn{
					width: 100%;
					max-width: 1100px;
					margin: auto;
					padding: $x4 $x3 0;
					//margin-top: $x8;

					//margin-bottom: $x4;
					// @media (max-width: $movil){
					// 	text-align: center;	
					// 	padding-top: $x8;
					// }
					span{
						width: 150px;
						height: 48px;
						background: transparent;
						border: 1px solid $btnPrincipal;
						transition: $animacion;
						position: relative	;
						@include redondeado(4px, 4px, 4px, 4px);
						display: inline-block;
						&:before{
							content:'';
							width: 26px;
							height: 26px;
							top: 13px;
							pointer-events: none;
							left: 30px;	
							position: absolute;
							background: url(../assets/volver.svg) no-repeat;
							background-size: 100%;
						}
						&:hover{
							background: $btnPrincipal;
							transition: $animacion;
							border: 1px solid transparent;
							&:before{
								content:'';
								width: 26px;
								height: 26px;
								top: 10px;
								left: 30px;	
								position: absolute;
								background: url(../assets/volver-w.svg) no-repeat;
								background-size: 100%;
							}
							a{
								color: $color;
								transition: $animacion;
							}
						}
						a{
							font-size: 14px;
							margin-left: 10px;	
							text-align: center;
							width: 100%;
							display: inline-block;
							transition: $animacion;
							line-height: 48px;
							color: $btnPrincipal;
						}
					}
				}
				.item__list{
					width: 100%;
					
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					// height: calc(100vh - 67px);
					padding-top: $x5;
					padding-bottom: $x10;
					@media (max-width: $movil){
						padding-top: $x5;
						padding-bottom: $x5;
					}
					.item{
						width: 320px;
						height: 570px;
						margin: auto;
						position: relative;
						&__down{
							position: absolute;
							width: 40px;
							height: 40px;
							display: inline-block;
							left: 0;
							cursor: pointer;
							bottom: -55px;
							right: 0;
							background: url(../assets/flecha-hacia-abajo.svg) center center no-repeat;
							background-size: 20px;
							margin: auto;
							border-radius: 50%;
							border: 1px solid #333333;
						}
						@media (max-width: $tablet){
							width: 	250px;
							height: 446px;
						}
						@media (max-width: $movil){
							width: 	220px;
							height: 	393px;
							
						}

						&__image{
							width: 100%;
							text-align: center;
							img{
								width: 85%;
								display: inline-block;
								margin: auto;
							}
						}
					}
				}
			}
		}
		.section2{
			@media (max-width: $movil){
				padding: 0 $x3;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				//border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				padding: $x8 $x3;
				@media (max-width: $movil){
					padding: $x5 0;
				}

			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: $x6 $x3 0;
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								font-weight: 500;
								text-transform: uppercase;
								color : $tituloPrincipal;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}
							}
						}

					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: $x6 $x3;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 450px;
						@media (max-width: $tablet){
							width: 	370px;
							&:last-child{
								width: 	300px;
								.item__info{
									@media (max-width: $movil){
										&:last-child{
											margin-bottom: 	0 !important	;
										}
									}
								}
							}
						}
						//margin: auto;
						&__info{
							width: 100%;
							margin-bottom: $x4;
							// @media (max-width: $movil){
							// 	margin-bottom: $x3;
							// }
							&:last-child{
								margin-bottom: 0;
								@media (max-width: $movil){
									margin-bottom: $x3;
								}
							}
							h2{
								font-size: 20px;
								margin-bottom: $x1;
								font-weight: 500;
								color: $subTitulo;
								text-transform: capitalize;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	18px;
								}
								@media (max-width: $movil){
									font-size: 	16px;
								}
							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}

							}
						}
					}
				}
			}
		}
		.section3{
			&__main{
				.item__list{
					width: 100%;
					height: 350px;
					overflow: hidden;
					position:relative;
					img{
						position: relative;
						top: -70%;
						width: 100%;
						@media (max-width: $tablet){
							top: -40px;
						}

					}
					@media (max-width: $tablet){
						height: 	280px;
					}
					@media (max-width: $movil){
						height: 	150px;
					}
					&:before{
						content:'';
						width: 100%;
						height: 100%;
						background: #00000069;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 5;
					}
					// .item{
					// 	background-image: url(../assets/CTXZ3GLDRNHDDBNYUT4CSPWBAE.jpg);
					// 	background-attachment: fixed;
					//     right: 0;
					//     background-repeat: no-repeat;
					//     background-size: cover;
					//     height: 950px;
					//     margin: 0 auto;
					//     overflow: hidden;
					//     padding: 0;
					//     position: relative;
					//     width: 100% !important;
					// }
				}
			}
		}
		.section4{
			@media (max-width: $movil){
				padding: 0 $x3;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				padding: $x8 $x3;
				border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				@media (max-width: $movil){
					padding: $x5 0;
				}

			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: $x6 $x3 0;
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						//margin: auto;
						@media (max-width: $movil){
							margin-bottom: 	$x4;
						}
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								font-weight: 500;
								color: $subTitulo;
								color : $tituloPrincipal;
								margin-bottom: $x1;
								text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}
						&__image{
							width: 100%;
							font-size: 0;
							img{
								width: 100%;
							}
						}
						&__question{
							width: 900px;
							margin: 	auto;	
							padding: $x5;
							background: #f9f9f9;
							@media (max-width: $tablet){
								width: 	700px;
								padding: $x4;
							}
							@media (max-width: $movil){
								width: 	100%;
								max-width: 	320px;
								padding: $x3;
							}
							h2{
								color: 	$tituloPrincipal;
								font-weight: 	600;
								font-size: 	50px;
								margin-bottom: 	$x0;
								@media (max-width: $tablet){
									font-size: 	30px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}
							}
							p{
								margin-bottom: 	$x4;
								font-size: 	16px;
								font-weight: 300;
								color: 	$parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
									margin-bottom: 	$x2;
								}

							}
							.item__quest{
								padding: 0 0 0 $x8;
								@media (max-width: $movil){
									padding: 0;
								}
								ul{
									li{
										font-weight: 	500;
										font-size: 	40px;
										margin-bottom: $x3;
										@media (max-width: $tablet){
											font-size: 	20px;
										}
										@media (max-width: $movil){
											font-size: 	16px;
											margin-bottom: $x2;
										}
										&:last-child{
											margin-bottom: 	0;
										}
									}
								}
							}
						}
					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					padding: 0 ;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 450px;
						@media (max-width: $tablet){
							width: 	350px;
							&:last-child{
								width: 	300px;
							}
						}
						@media (max-width: $movil){
							margin-bottom: 	$x4;
							&:last-child{
								margin-bottom: 	0;
							}
						}
						//margin: auto;
						&__info{
							width: 100%;
							h2{
								font-size: 20px;
								font-weight: 500;
								color: $subTitulo;
								margin-bottom: $x1;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	18px;
								}
								@media (max-width: $movil){
									font-size: 	16px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
									@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}
					}
				}
			}
		}

		.section5{
			@media (max-width: $movil){
				padding: 0 $x3;
			}
			&__align{
				width: 100%;
				padding: $x8 $x3;
				max-width: 1100px;
				border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				@media (max-width: $movil){
					padding: $x5 0;
				}
			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								font-weight: 500;
								color: $subTitulo;
								color : $tituloPrincipal;
								margin-bottom: $x1;
								text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}


							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}
						&__image{
							width: 100%;
							font-size: 0;
							img{
								width: 100%;
							}
						}
						&__user{
							width: 900px;
							background: #f9f9f9;
							margin: auto;
							@media (max-width: $tablet){
								width: 700px;
								padding: $x4 $x4;
							}
							@media (max-width: $movil){
								width: 100%;
								max-width: 320px;
								padding: $x3 $x3;
							}
							//border: 1px solid  #e9e9e9;
							//box-shadow: $sombra;
							padding: $x5;
							p{
								font-size: 16px;
								font-weight: 500;
								color: $subTitulo;
								margin-bottom: $x2;
							}
							.user{
								width: 100%;
								@include flexbox;
								@include flex-wrap(wrap);
								margin-bottom: $x2;
								@include align-items(center);
								//@include justify-content(space-between);
								&__image{
									width: 200px;
									margin-right: $x2;
									@media (max-width: $movil){
										margin: auto;
										width: 250px;
									}
									img{
										width: 100%;
									}
									@media (max-width: $movil){
										margin-bottom: $x2;
										text-align: center;
										margin-right: 0;
									}
								}
								&__name{
									//width: 500px;
									h2{
										font-size: 64px;
										font-weight: 600;
										color: $tituloPrincipal;
										@media (max-width: $tablet){
											font-size: 45px;
										}
										@media (max-width: $movil){
											font-size: 20px;
											margin-bottom: $x0;
										}
									}
									h3{
										font-size: 50px;
										font-weight: 500;
										color: $subTitulo;
										@media (max-width: $tablet){
											font-size: 35px;
										}
										@media (max-width: $movil){
											font-size: 18px;
										}
									}
								}
							}
							.userinfo{
								width: 100%;
								@include flexbox;
								@include flex-wrap(wrap);
								@include justify-content(space-between);

								p{
									font-size: 16px;
									width: 100%;
									font-weight: 300;
									color: $parrafo;
									margin-bottom: $x3;
									@media (max-width: $tablet){
										font-size: 15px;
									}
								}
								&__apps{
									width: 250px;
									@media (max-width: $tablet){
										width: 300px;
									}
									h3{
										margin-bottom: $x2;
										font-size: 16px;
										@media (max-width: $tablet){
											font-size: 15px;
										}

									}
									ul{
										li{
											position: relative;
											display: inline-block;
											margin-right: $x1;
											img{
												height: 40px;
												width: auto;
												@media (max-width: $movil){
													height: 30px;
												}
											}
											
										}
									}
								}
								&__info{
									width: 250px;
									@media (max-width: $tablet){
										margin-bottom: $x3;
										width: 300px;
									}
									@media (max-width: $movil){
										width: 100%;
									}
									h3{
										margin-bottom: $x2;
										font-size: 16px;
										@media (max-width: $tablet){
											font-size: 15px;
										}
									}
									ul{
										li{
											position: relative;
											padding-left: $x2;
											font-size: 14px;
											margin-bottom: $x1;
											color: $parrafo;
											&:last-child{
												margin-bottom: 0;
											}
											&:before{
												content:'';
												position: absolute;
												left: 0;
												top: 7px;
												width: 6px;
												height: 6px;
												background: red;
												@include redondeado(3px, 3px, 3px, 3px);
											}
										}
									}
								}
								
							}
						}
					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: $x6 $x3;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 450px;
						@media (max-width: $tablet){
							width: 	350px;
						}
						//margin: auto;
						&__info{
							width: 100%;
							h2{
								font-size: 20px;
								font-weight: 500;
								color: $subTitulo;
								margin-bottom: $x1;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	18px;
								}
								@media (max-width: $movil){
									font-size: 	16px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}
					}
				}
			}
		}

		.section6{
			@media (max-width: $movil){
				padding: 0  $x3;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				padding: $x8 $x3;
				@media (max-width: $movil){
					padding: $x5 0;
				}
			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								font-weight: 500;
								color: $subTitulo;
								color : $tituloPrincipal;
								margin-bottom: $x1;
								text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}

					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: 0 $x3 $x6;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					@media (max-width: $tablet){
						//display: 	block;
						//width: 	700px;
						//padding: 	0;
					}
					@media (max-width: $movil){
						width: 	100%;
						margin: 	auto;	
					}

					//@include align-items(center);
					.item{
						width: 250px;
						

						//margin: auto;
						@media (max-width: $tableth){
							// width: 	240px;
							// margin: 0 15px;
							margin-right: $x4;
						}
						@media (max-width: $movil){
							width: 	235px;
							margin-right: $x3;
							//margin: 0 10px;
						}
						&__image{
							width: 100%;
							box-shadow: $sombra;
							font-size: 0;
							margin-bottom: $x2;
							img{
								width: 100%;
							}
						}
						&__info{
							width: 100%;
							h2{
								font-size: 16px;
								font-weight: 500;
								color: $subTitulo;
								margin-bottom: $x1;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}

							}
							ul{
								li{
									font-size: 14px;
									font-weight: 300;
									width: 100%;
									display: inline-block;
									margin-bottom: $x0;
									color: $parrafo;
									@media (max-width: $tablet){
										font-size: 	14px;
									}
									@media (max-width: $movil){
										font-size: 	13px;
									}
								}
							}
							
						}
					}
				}
			}
		}

		.section7{
			@media (max-width: $movil){
				padding: 0  $x3;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				padding: $x8 $x3;
				@media (max-width: $movil){
					padding: $x5 0;
				}
			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								font-weight: 500;
								color: $subTitulo;
								color : $tituloPrincipal;
								margin-bottom: $x1;
								text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}

					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: 0 $x3 $x6;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					//@include align-items(center);
					@media (max-width: $movil){
						width: 	100%;
						//margin: 0 15px;
					}
					.item{
						width: 250px;

						//margin: auto;
						//margin-right: $x4;
						@media (max-width: $tableth){
							// width: 	240px;
							// margin: 0 15px;
							margin-right: $x4;
						}
						// @media (max-width: $tablet){
						// 	width: 	220px;
						// 	margin: 0 10px;
						// }
						@media (max-width: $movil){
							width: 	235px;
							margin-right: $x3;
							//margin: 0 10px;
						}

						&__image{
							width: 100%;
							font-size: 0;
							box-shadow: $sombra;
							margin-bottom: $x2;
							img{
								width: 100%;
							}
						}
						&__info{
							width: 100%;
							h2{
								font-size: 16px;
								font-weight: 500;
								color: $subTitulo;
								//margin-bottom: $x1;
								text-align: center;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}

							}
		
						}
					}
				}
			}
		}

		.section8{
			@media (max-width: $movil){
				padding: 0  $x3;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				padding: $x8 $x3;
				@media (max-width: $movil){
					padding: $x5 0;
				}
			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								font-weight: 500;
								color: $subTitulo;
								color : $tituloPrincipal;
								margin-bottom: $x1;
								text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								
							}
						}

					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					max-width: 650px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: 0 $x3 $x6;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					//@include align-items(center);
					@media (max-width: $tablet){
						max-width: 550px;
					}
					@media (max-width: $movil){
						width: 	100%;
					}
					.item{
						width: 270px;
						
						opacity: 1;
						&:last-child{
							opacity: 0.5;
							box-shadow: none;

						}
						@media (max-width: $tablet){
							width: 	250px;
							//margin: 	0 15px;
						}
						@media (max-width: $movil){
							width: 	235px;
							margin-right: $x3;
							//margin: 0 10px;
						}
						//margin: auto;
						&__image{
							box-shadow: $sombra;
							width: 100%;
							font-size: 0;
							margin-bottom: $x2;
							img{
								width: 100%;
							}
						}
						&__info{
							width: 100%;
							h2{
								font-size: 16px;
								font-weight: 500;
								margin-bottom: $x0;
								color: $subTitulo;
								//margin-bottom: $x1;
								text-align: center;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}

							}
							h3{
								font-size: 22px;
								font-weight: 600;
								color: $tituloPrincipal;
								//margin-bottom: $x1;
								text-align: center;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	21px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}

							}
		
						}
						
					}
				}
			}
		}
		
		.section9{
			@media (max-width: $movil){
				padding: 0  $x3;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				//border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				padding: $x8 $x3;
				@media (max-width: $movil){
					padding: $x5 0;
				}
			}
			&__header{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					
					//@include flexbox;
					//@include flex-wrap(wrap);
					//@include justify-content(space-between);
					//@include align-items(center);
					.item{
						width: 100%;
						margin-bottom: $x4;
						&__info{
							width: 100%;
							h2{
								font-size: 24px;
								color : $tituloPrincipal;
								font-weight: 500;
								//color: $subTitulo;
								margin-bottom: $x1;
								text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	22px;
								}
								@media (max-width: $movil){
									font-size: 	20px;
								}

							}
							p{
								font-size: 16px;
								font-weight: 300;
								color: $parrafo;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}
								
							}
						}

					}
				}
			}
			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					//max-width: 1100px;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: 0 $x3 $x6;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					//@include align-items(center);
					@media (max-width: $movil){
						width: 	100%;
					}
					.item{
						width: 250px;
						//margin: auto;
						@media (max-width: $tableth){
							// width: 	240px;
							// margin: 0 15px;
							margin-right: $x4;
						}
						@media (max-width: $movil){
							width: 	235px;
							margin-right: $x3;
							//margin: 0 10px;
						}
						&__image{
							box-shadow: $sombra;
							width: 100%;
							font-size: 0;
							margin-bottom: $x2;
							img{
								width: 100%;
							}
						}
						&__info{
							width: 100%;
							h2{
								font-size: 16px;
								font-weight: 500;
								color: $subTitulo;
								//margin-bottom: $x1;
								text-align: center;
								//text-transform: uppercase;
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
								}

							}
		
						}

					}
				}
				.item__btn{
					width: 100%;
					padding-top: $x8;
					//margin-top: $x8;
					//margin-bottom: $x4;
					@media (max-width: $movil){
						text-align:  left;	
						padding-top: $x8;
					}
					span{
						width: 150px;
						height: 48px;
						background: transparent;
						border: 1px solid $btnPrincipal;
						transition: $animacion;
						position: relative	;
						@include redondeado(4px, 4px, 4px, 4px);
						display: inline-block;
						&:before{
							content:'';
							width: 26px;
							height: 26px;
							top: 13px;
							pointer-events: none;
							left: 30px;	
							position: absolute;
							background: url(../assets/volver.svg) no-repeat;
							background-size: 100%;
						}
						&:hover{
							background: $btnPrincipal;
							transition: $animacion;
							border: 1px solid transparent;
							&:before{
								content:'';
								width: 26px;
								height: 26px;
								top: 10px;
								left: 30px;	
								position: absolute;
								background: url(../assets/volver-w.svg) no-repeat;
								background-size: 100%;
							}
							a{
								color: $color;
								transition: $animacion;
							}
						}
						a{
							font-size: 14px;
							margin-left: 10px;	
							text-align: center;
							width: 100%;
							display: inline-block;
							transition: $animacion;
							line-height: 48px;
							color: $btnPrincipal;
						}
					}
				}
			}
		}
	}

	.page3__main{
		// @media (max-width: $tablet){
		// 	width: 	98%;
		// 	margin: 	auto;	
		// }

		.section1{
			height: calc(100vh - 127px);
			@media (max-width: $tablet){
				height: calc(100vh - 146px);
			}
			@media (max-width: $movil){
				padding: 0 $x3;
				height: auto;
			}
			&__align{
				width: 100%;
				max-width: 1100px;
				//border-bottom: 1px solid  #e9e9e9;
				margin: auto;
				padding: $x8 $x3;
				@media (max-width: $tableth){
					padding: $x5 0;
				}
				@media (max-width: $movil){
					padding: $x4 0;
				}

			}

			&__main{
				.item__list{
					width: 100%;
					//background: $btnPrincipal;
					margin: auto;
					//column-count: 2;
					//column-gap: $x2;
					//padding: $x6 $x3;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					@include align-items(center);
					@media (max-width: $tableth){
						@include justify-content(center);
					}
					.item{
						width: 450px;
						text-align: center;
						@media (max-width: $tableth){
							width: 400px;
						}
						@media (max-width: $tablet){
							margin-bottom: 24px;
							width: 500px;
						}
						&:last-child{
							width: 550px;
							text-align: left;
							@media (max-width: $tableth){
								width: 500px;
							}
							@media (max-width: $tablet){
								width: 500px;
							}
						}
						// @media (max-width: $tablet){
						// 	width: 	500px;
						// 	&:last-child{
						// 		width: 	300px;
						// 		.item__info{
						// 			@media (max-width: $movil){
						// 				&:last-child{
						// 					margin-bottom: 	0 !important	;
						// 				}
						// 			}
						// 		}
						// 	}
						// }
						//margin: auto;
						
						&__info{
							width: 100%;
							margin-bottom: $x4;
							// @media (max-width: $movil){
							// 	margin-bottom: $x3;
							// }
							&:last-child{
								margin-bottom: 0;
								@media (max-width: $movil){
									margin-bottom: $x3;
								}
							}
							p{
								font-size: 16px;
								font-weight: 300;
								line-height: 35px;
								margin-bottom: 24px;
								color: $parrafo;
								&:last-child{
									margin-bottom: 0;
								}
								@media (max-width: $tablet){
									font-size: 	15px;
								}
								@media (max-width: $movil){
									font-size: 	14px;
									line-height: 20px;
								}
								span{
									font-weight: 700;
									position:relative;
									cursor: pointer;
									&:hover{
										&:after{
											display: block;
										}
									}
									&:before{
										content:'';
										width: 78%;
										height: 10px;
										background: url(../assets/linea.svg) no-repeat;
										background-size: 100%;
										left: 0;
										right: 0;
										display: inline-block;
										margin: auto;
										position: absolute;
										bottom: -10px;
										@media (max-width: $movil){
											display: none;
										}


									}
									// &:after{
									// 	content:'';
									// 	position: absolute;
									// 	width: 400px;
									// 	height: 200px;
									// 	background: $btnPrincipal;
									// 	display: none;
									// 	z-index: 5;
									// 	left: -100px;
									// 	top: 20px;


									// }
								}

							}
						}
						&__link{
							@media (max-width: $movil){
								text-align: center;
							}
							span{
								width: 200px;
								margin-right: 20px;
								&:last-child{
									margin-bottom: 0;
								}
								@media (max-width: $movil){
									margin-right: 0;
									margin-bottom: $x2;
								}
								display: inline-block;
								text-align: center;
								height: 48px;
								margin-right: $x2;
								transition: $animacion;
								border: 1px solid transparent;
								@include redondeado(4px, 4px, 4px, 4px);
								&:hover{
									background: $btnPrincipalHover;
									transition: $animacion;
								}
								background: $btnPrincipal;
								&.type2{
									border: 1px solid $btnPrincipal;
									background: none;
									transition: $animacion;
									&:hover{
										background: $btnPrincipal;
										transition: $animacion;
										a{
											color: $color;
											transition: $animacion;
											&:before{
												background: url(../assets/flecha-hacia-abajo_v2.svg);
												background-size: 100%;
											}
										}
									}
									a{
										color: $btnPrincipal;
										transition: $animacion;
										&:before{
											background: url(../assets/flecha-hacia-abajo.svg);
											background-size: 100%;
										}
									}
								}
								a{
									color: #ffffff;
									font-size: 14px;
									display: block;
									line-height: 48px;
									//width: 100%;
									position: relative;
									
									//text-transform: uppercase;
									&:before{
										content:'';
										width: 20px;
										height: 20px;
										position: absolute;
										right: 20px;
										top: 12px;
										background: url(../assets/whatsapp.svg);
										background-size: 100%;
									}
								}
							}
						}
						&__image{
							width: 300px;
							height: 300px;
							margin: auto;
							border-radius: 50%;
							overflow: hidden;
							margin-bottom: $x4;
							@media (max-width: $tablet){
								margin: auto;
							}
							@media (max-width: $movil){
								width: 200px;
								height: 200px;
							}
							img{
								width: 100%;
							}
						}
					}
				}
			}
		}
		
	}

	.page1__footer{
		border-top: 1px solid #e9e9e9;
		.section1{
			&__main{
				.item__list{
					width: 100%;
					// padding-top: $x1;
					// padding-bottom: $x1;
					padding: $x1 $x3;
					max-width: 1400px;
					margin: auto;
					@include flexbox;
					@include flex-wrap(wrap);
					@include justify-content(space-between);
					@include align-items(center);
					@media (max-width: $tablet){
						padding-top: $x2;
						padding-bottom: $x2;
					}
					.item{
						width: 400px;
						@media (max-width: $tablet){
							width: 	100%;
						}
						ul{
							width: 100%;
							@media (max-width: $tablet){
								text-align: center;	
								//padding-bottom: $x0;
							}
							li{
								display: inline-block;
								width: 38px;
								padding: $x1;
								text-align: center;

								a{
									display: block;
									img{
										width: 100%;
									}
								}
							}
						}
						span{
							font-size: 14px;
							display: block;
							text-align: right;
							font-weight: 500;
							@media (max-width: $tablet){
								text-align: center;	
							}
						}
					}
				}
			}
		}
	}
}