//breakpoints
$laptop : 1366px;
$tableth : 1025px;
$tablet : 769px;
$movil : 650px;


// color
$tituloPrincipal: #ef173b;
$subTitulo: #3e3e3e;
$subTitulo2: #174101;
$parrafo : #929292;


$btnPrincipal: #ef173b;
$btnPrincipalHover: #bf0f2c;



$animacion : .3s ease-out;

$color : #ffffff;


//spacing
$x0 : 4px;
$x1 : 8px;
$x2 : 16px;
$x3 : 24px;
$x4 : 32px;
$x5 : 40px;
$x6 : 48px;
$x7 : 56px;
$x8 : 64px;
$x9 : 72px;
$x10 : 80px;



//sombra
$sombra : 0px 2px 16px rgba(0, 0, 0, 0.1);